<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.property.ssm.mapper.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.property.ssm.po.House" >
    <id column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="usedarea" property="usedarea" jdbcType="DOUBLE" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="workoff" property="workoff" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    house_id, position, area, usedarea, house_type, workoff, owner_id, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.property.ssm.po.House" >
    insert into house (house_id, position, area, 
      usedarea, house_type, workoff, 
      owner_id, remark)
    values (#{houseId,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, #{area,jdbcType=DOUBLE}, 
      #{usedarea,jdbcType=DOUBLE}, #{houseType,jdbcType=VARCHAR}, #{workoff,jdbcType=INTEGER}, 
      #{ownerId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.property.ssm.po.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="usedarea != null" >
        usedarea,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="workoff != null" >
        workoff,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DOUBLE},
      </if>
      <if test="usedarea != null" >
        #{usedarea,jdbcType=DOUBLE},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="workoff != null" >
        #{workoff,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.property.ssm.po.House" >
    update house
    <set >
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DOUBLE},
      </if>
      <if test="usedarea != null" >
        usedarea = #{usedarea,jdbcType=DOUBLE},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="workoff != null" >
        workoff = #{workoff,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.property.ssm.po.House" >
    update house
    set position = #{position,jdbcType=INTEGER},
      area = #{area,jdbcType=DOUBLE},
      usedarea = #{usedarea,jdbcType=DOUBLE},
      house_type = #{houseType,jdbcType=VARCHAR},
      workoff = #{workoff,jdbcType=INTEGER},
      owner_id = #{ownerId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
</mapper>